{% extends "layout/basic.html" %}
{% block title %} {{ current_rubric.name }} {% endblock %}


{% block content %}
<h1>Добавление объявления</h1>
<div>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'add' %}">Добавить</a>
    {% for rubric in rubrics %}
    <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
    {% endfor %}
</div>

<!-- Не был указанинтернет адрес на который передаются данные,
  т.к. в нашем случае данные будут переданы в то же представление-класс по которому было сформировано.-->
<form method="post">
    {% csrf_token %}    <!-- Подсистема безопасности django (цифровой жетон, приняв который
     джанго поймет, что ввод данных с формы был совершен с этого сайта -->
    {{ form.as_p }}
    <input type="submit" value="Добавить">
</form>
{% endblock %}